<body style="height: 20vh; width: 100%">
	<section>
		<div class="logoMainDiv">
			<div class="logoDiv">
				<img src="assets/logo.png" alt="logo mine" />
				<h1 class="logoTittle">MINE</h1>
			</div>
			<div class="menu">
				<mat-icon style="width: 42px; height: 42px" svgIcon="menu"></mat-icon>
			</div>
		</div>

		<div class="buttonDiv">
			<div (click)="selectButton('ENTRAR')">
				<logmine-button label="ENTRAR" [active]="activeEntrar"></logmine-button>
			</div>
			<div (click)="selectButton('FORUM')">
				<logmine-button label="FORUM" [active]="activeForum"></logmine-button>
			</div>
			<div (click)="selectButton('SOBRE')">
				<logmine-button label="SOBRE" [active]="activeSobre"></logmine-button>
			</div>
			<div (click)="selectButton('MOJANG')">
				<logmine-button label="MOJANG" [active]="activeMojang"></logmine-button>
			</div>
			<div (click)="selectButton('PERGUNTAS')">
				<logmine-button label="PERGUNTAS" [active]="activePerguntas"></logmine-button>
			</div>
		</div>
	</section>
</body>
