<section class="mainSection">
	<section class="iconSection">
		<div class="iconDiv">
			<mat-icon class="icon" svgIcon="power"></mat-icon>
			<span class="iconSpan">Jogue também offline</span>
		</div>
		<div class="iconDiv">
			<mat-icon class="icon" svgIcon="account-outline"></mat-icon>
			<span class="iconSpan">67 jogadores</span>
		</div>
		<div class="iconDiv">
			<mat-icon class="icon" svgIcon="gamepad-variant-outline"></mat-icon>
			<span class="iconSpan">Compatível com uso remoto</span>
		</div>
		<div class="iconDiv">
			<mat-icon class="icon" svgIcon="vibrate"></mat-icon>
			<span class="iconSpan">Vibração no controle</span>
		</div>
		<div class="iconDiv">
			<mat-icon class="icon" svgIcon="baby-face-outline"></mat-icon>
			<span class="iconSpan">Permitido para menores</span>
		</div>
	</section>
</section>
