<body class="body">
	<section class="mainSection">
		<div class="imgLogo">
			<img src="assets/logo.png" alt="logo" />
		</div>
		<div class="mainDiv">
			<div class="inputDiv">
				<label class="labelInput">E-mail</label>
				<input type="email" placeholder="jonathan@mail.com" />
			</div>
			<div class="inputDiv">
				<label class="labelInput">Senha</label>
				<input type="password" placeholder="012345" />
			</div>
			<div style="display: flex; gap: 10px; margin: 10px 35px">
				<input type="checkbox" />
				<label style="font-size: 14px; line-height: 24px; color: white; font-family: 'Inter'"
					>Lembrar minha senha</label
				>
			</div>
		</div>
		<div class="buttonDiv">
			<button class="button">Entrar na conta</button>
			<label style="color: #33e29a; font-family: 'Inter'; cursor: pointer">Esqueceu a senha?</label>
		</div>
	</section>
</body>
