<body style="height: 60vh; padding: 0; margin-top: 50px; display: flex; justify-content: center">
	<section
		style="
			width: 450px;
			height: 450px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: rgba(38, 38, 38, 0.8);
			border-radius: 12px;
			border: 1px solid rgba(115, 115, 115, 0.5);
		"
	>
		<div style="height: 10%; width: 100%; display: flex; justify-content: center; align-items: center">
			<img src="assets/logo.png" alt="logo" />
		</div>
		<div style="height: 55%; width: 100%; display: flex; justify-content: center; flex-direction: column; gap: 10px">
			<div style="display: flex; flex-direction: column; gap: 10px; margin: 0px 35px">
				<label style="color: white; font-family: 'Kufam'; font-weight: 500; line-height: 24px">E-mail</label>
				<input
					style="
						width: 376px;
						height: 24px;
						border-radius: 3px;
						border: 1px solid #414141;
						padding: 7px 14px 7px 14px;
						background-color: #262626;
						color: #919191;
					"
					type="email"
				/>
			</div>
			<div style="display: flex; flex-direction: column; gap: 10px; margin: 0px 35px">
				<label style="color: white; font-family: 'Kufam'; font-weight: 500; line-height: 24px">Senha</label>
				<input
					style="
						width: 376px;
						height: 24px;
						border-radius: 3px;
						border: 1px solid #414141;
						padding: 7px 14px 7px 14px;
						background-color: #262626;
						color: #919191;
					"
					type="password"
				/>
			</div>
			<div style="display: flex; gap: 10px; margin: 10px 35px">
				<input type="checkbox" />
				<label style="font-size: 14px; line-height: 24px; color: white; font-family: 'Inter'"
					>Lembrar minha senha</label
				>
			</div>
		</div>
		<div style="height: 25%; width: 100%; display: flex; justify-content: center; flex-direction: column">
			<button>Entrar na conta</button>
			<label>Esqueceu a senha?</label>
		</div>
	</section>
</body>
